<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="DIPStudioCore" publicKeyToken="FAD4A86578CE4615" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.6178.16322" newVersion="3.0.6178.16322"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
